[project]
	description = OGL Model Viewer for OS X
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/LKostyra
[access "refs/for/refs/*"]
	read = group user/LKostyra
	push = group user/LKostyra
	label-Code-Review = -2..+2 group user/LKostyra
	label-Verified = -1..+1 group user/LKostyra
	rebase = group user/LKostyra
	removeReviewer = group user/LKostyra
	submit = group user/LKostyra
[access "refs/heads/*"]
	read = group user/LKostyra
	create = group user/LKostyra
	push = +force group user/LKostyra
	pushMerge = group user/LKostyra
[access "refs/tags/*"]
	push = +force group user/LKostyra
	pushTag = group user/LKostyra
	pushSignedTag = group user/LKostyra
